* {
    margin: 0px;
    padding: 0x;
    box-sizing: border-box;
}

body { /*Ajustando body*/
    display: flex;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 224.5625rem;
    width: 30rem;
}

button { /*Agregando puntero a los botones*/
    cursor: pointer;
}

li { /*Agregando puntero a las listas*/
    cursor: pointer;
}

header { /*Ajustando el header*/
    align-items: center;
    display: flex;
    height: 8.125rem;
    justify-content: space-around;
    width: 100%;
}

header strong { /*Aqui solo ocupamos la etiqueta de strong que esta en el header*/
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.logo_box1 { /*Ajustamos una caja que contenga el loxo*/
    display: flex;
    height: 1.5625rem;
    width: 6.73rem;
    justify-content: space-evenly;
}

#hamburguesa { /*Ajustamos la hamburguesa*/
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
}


#box_central_1 { /*Ajustamos la caja en dinde va la imagen del hombre con una raqueta*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 52.5rem;
    width: 25rem;
}

#box_live_follow { /*Ajustamos una caja que este debajo del hombre con raqueta*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: end;
    width: 25rem;
    height: 27rem;
}

#box_live_follow button { /*Ajustamos el boton contact que esta en el hombre con raqueta*/
    align-items: center;
    background-color: #8B48BF;
    border-radius: 3.125rem;
    color: white;
    display: flex;
    height: 2.8rem;
    justify-content: center;
    width: 8.4rem;
}

#live_text { /*Ajustamos el texto grande que se encuentra debajo del hombre con raqueta*/
    font-weight: bold;
    font-size: 3.125rem;
}

#the_final_text { /*Ajustamos el texto que esta entre el texto grande y el boton*/
    font-size: 1rem;
}

#blue_box { /*Ajustamos la siguiente caja que es de color azul*/
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #3CDDF3;
    color: white;
    height: 19.125rem;
    width: 30rem;
}

#blue_box strong{ /*Aqui damos la orden de solo modificar la etiqueta strong que esta dentro de la caja azul*/
    width: 27.5rem;
    height: 5.5rem;
    font-size: 2.25rem;
}

#blue_box p { /*Aqui solo modificamos la etiqueta p de la caja azul*/
    font-size: 1rem;
    height: 5.5rem;
    width: 27.5rem;
}

#contenedor_3_morado { /*Aqui generamos la caja que tendra 3 opciones moradas*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 42.625rem;
    width: 27.875rem;
    margin-left: auto;
}

.text_purple { /*Separamos el texto de los 1,2,3*/
    padding-left: 1rem;
}

.purple_box { /*Ajustando las cajas que tendras las opciones moradas*/
    display: flex;
    align-items: center;
    border-radius: 30px 0px 0px 30px;
    background-color: #8b48bf30;
    height: 2.6875rem;
    width: 27.875rem;
}

.purple_box_123 {/*Ajustamos los circulos 123 mas morados*/
    align-items: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #8B48BF;
    height: 2.6875rem;
    width: 4.3125rem;
}

.purple_text { /*Ajustamos el color del texto que esta abajo de los contenedores morados*/
    color: #B3B2B7;
}

#bestotm_box { /*Creamos una caja que contenga la imagen de lebron, a lebron, best of the month el texto y el boton*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 29.875rem;
    width: 27.8125rem;
} 

#bestotm_box strong { /*Aqui solo modificamos el texto con la etiqueta strong*/
    font-size: 2.45rem;
}

#lebron_name { /*Aqui ajustamos el nombre de Lebron solamente*/
    font-weight: bold;
    color: black;
}

#text_lebron { /*Aqui ajustamos y cambiamos de color el textocque esta abajo de lebron*/
    text-align: center;
    width: 24.375rem;
    height: 4.875rem;
}

#img_text_box { /*Aqui ajustamos un contenedor que tenga la imagen de lebron. el nombre lebron y su texto*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15.875rem;
    justify-content: space-between;
    width: 28.375rem;
}

#img_text_box img{ /*Aqui solo afectamos la pura imagen de lebron*/
    position: relative;
    top: 2rem;
    
}

#lebron_box { /*Aqui creamos otra caja la cual solo contenga el nombre de lebron y su texto*/
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13.68875rem;
    padding-top: 2rem;
    justify-content: space-evenly;
    width: 27.8125rem;
    color: #B9B9C1;
}

#bestotm_box button{ /*Aqui ajustamos el boton de more que esta en otm*/
    width: 8.375rem;
    height: 2.75rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #8B48BF;
}

#two_blue_box { /*Aqui generamos la segunda segunda caja azul*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3CDDF3;
    color: white;
    height: 22.875rem;
    width: 30.25rem;
}

#two_blue_box p { /*Aqui solo afectamos las etiquetas p que esten adentro de la segunda caja azul*/
    text-align: center;
    width: 20.25rem;
    height: 12rem;
    font-size: 2.5rem;
}

#two_blue_box button { /*Aqui solo afectamos el puro boton de la segunda caja azul*/
    color: white;
    width: 8.4rem;
    height: 2.8rem;
    text-align: center;
    border-radius: 50px;
    background-color: #000000a6;
}

ul { /*Le quitamos el padding y los asteriscos a las listas*/
    list-style-type: none;
    padding: 0px;
}

footer { /*Ajustamos las reglas del footer*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30rem;
    height: 33.375rem;
    background-color: #1E1E26;
}

#caja_busqueda { /*Aqui hacemos una caja para meter el boton y la barrita de busqueda*/
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 4.3rem;
}

#caja_busqueda button { /*Aqui solo afectamos el boton de la caja de busqueda*/
    width: 4rem;
    height: 2.625rem;
    border-radius: 50px;
    background-color: #8B48BF;
    text-align: center;
    color: white;
}

#caja_busqueda p { /*Aqui afectamos la caja de busqueda como sus color radio y texto*/
    display: flex;
    align-items: center;
    padding-left: 1rem;
    width: 19.25rem;
    height: 2.75rem;
    border-radius: 50px;
    background-color: #ffffff;
    font-size: 0.82rem;
    color: #A0A0A0;
    margin-right: 1rem;
}

#contenedor_listas { /*Hacemos un contenedor para las 2 listas que tenemos*/
    display: flex;
    justify-content: space-between;
    width: 20.25rem;
    height: 8.85rem;
    color: white;
}

#contenedor_listas li { /*Aqui solo afectamos el margen de las li de los ul*/
    margin-bottom: 1rem;
}

#icons_box { /*Aqui hacemos una caja para los iconos de los redes sociales y plataformas*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;
    height: 2.66rem;
}

#white_sportit { /*Realizamos este id para no afectar el primer logo ya aquel tiene que ser negro y este blanco*/
    color: white;
}

#copyright { /*Realizamos el texto ultimo del footer*/
    font-size: 0.7rem;
    color: #8C8C94;
}

#caja_desktop {
    display: none;
}

#boton_desktop {
    display: none;
}

#p_desktop {
    display: none;
}

#contenedor_desktop_morado {
    display: none;
}

.box_1and3_desktop {
    display: none;
}

#bestotm_box_sanyo {
    display: none;
}

#bestotm_box_navarro {
    display: none;
}

@media (min-width: 769px) {
    body {
        width: 90rem;
        height: 165rem;
    }
    #hamburguesa {
        display: none;
    }
    header {
        display: flex;
        align-items: center;
        height: 8.125rem;
        justify-content: space-around;
        width: 100%;
    }

    #caja_desktop {
        display: flex;
    }
     #caja_desktop ul{
        display: flex;
        justify-content: space-between;
        width: 28rem;
     }
     #boton_desktop {
        text-align: center;
        display: inline-block;
        width: 8.375rem;
        height: 2.75rem;
        color: white;
        background-color: #8B48BF;
        font-size: 0.82rem;
        border-radius: 50px;
     }

     #box_central_1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 68.125rem;
        height: 28.82rem;
     }

     #box_central_1 img {
        width: 33.75rem;
        height: 28.82rem;
     }

     #blue_box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90rem;
        height: 10.5rem;
        background-color: #8B48BF;
     }

     #blue_box strong {
        width: 29rem;
        font-size: 2.25rem;
        margin-left: 4rem;
     }

     #p_cel {
        display: none;
     }

     #p_desktop {
        display: flex;
        width: 28.125rem;
        height: 5.5rem;
        font-size: 1rem;
        margin-right: 3rem;
     }

     #box_live_follow {
        width: 30rem;
        height: 24.9375rem;
     }
     
     #contenedor_3_morado {
        display: none;
     }

     #contenedor_desktop_morado {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 90rem;
        height: 26.75rem;
    }

    #caja_de_2 {
        display: flex;
        justify-content: space-between;
        width: 70.8124rem;
        height: 10.125rem;
    }

    #caja_1 {
        display: flex;
        justify-content: space-between;
        width: 34.5625rem;
        height: 9.875;
    }

    #contend_1 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 27.3125rem;
        height: 9.875rem;
    }

    #contend_2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 27.3125rem;
        height: 10.125rem;
    }

    #caja_2 {
        display: flex;
        justify-content: space-between;
        width: 33.125rem;
        height: 10.125;
    }
     
    #caja_3 {
        display: flex;
        justify-content: space-between;
        width: 33.125rem;
        height: 10.125rem;
    }

    #contend_3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 27.3125rem;
        height: 10.125rem;
    }

    .buton_purple {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #8B48BF;
        color: white;
        width: 4.375rem;
        height: 2.6875rem;
        border-radius: 1.875rem;
    }

    .text_desktop_purple {
        color:#B3B2B7;
        font-size: 1rem;
    }

    #three_box_desktop {
        display: flex;
    }

    #bestotm_box_sanyo { /*Creamos una caja que contenga la imagen de lebron, a lebron, best of the month el texto y el boton*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 29.875rem;
        width: 27.8125rem;
    } 
    
    #bestotm_box_sanyo strong { /*Aqui solo modificamos el texto con la etiqueta strong*/
        font-size: 2.45rem;
    }
    
    #name_sanyo { /*Aqui ajustamos el nombre de Lebron solamente*/
        font-weight: bold;
        color: black;
    }
    
    #text_sanyo { /*Aqui ajustamos y cambiamos de color el textocque esta abajo de lebron*/
        text-align: center;
        width: 24.375rem;
        height: 4.875rem;
    }
    
    #img_text_box_sanyo { /*Aqui ajustamos un contenedor que tenga la imagen de lebron. el nombre lebron y su texto*/
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15.875rem;
        justify-content: space-between;
        width: 28.375rem;
    }
    
    #img_text_box_sanyo img{ /*Aqui solo afectamos la pura imagen de lebron*/
        position: relative;
        top: 2rem;
        
    }
    
    #box_sanyo { /*Aqui creamos otra caja la cual solo contenga el nombre de lebron y su texto*/
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 13.68875rem;
        padding-top: 2rem;
        justify-content: space-evenly;
        width: 27.8125rem;
        color: #B9B9C1;
    }
    
    #bestotm_box_sanyo button{ /*Aqui ajustamos el boton de more que esta en otm*/
        width: 8.375rem;
        height: 2.75rem;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: #8B48BF;
    }

    #bestotm_box_navarro { /*Creamos una caja que contenga la imagen de lebron, a lebron, best of the month el texto y el boton*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 29.875rem;
        width: 27.8125rem;
    } 
    
    #bestotm_box_navarro strong { /*Aqui solo modificamos el texto con la etiqueta strong*/
        font-size: 2.45rem;
    }
    
    #name_navarro{ /*Aqui ajustamos el nombre de Lebron solamente*/
        font-weight: bold;
        color: black;
    }
    
    #text_navarro { /*Aqui ajustamos y cambiamos de color el textocque esta abajo de lebron*/
        text-align: center;
        width: 24.375rem;
        height: 4.875rem;
    }
    
    #img_text_box_navarro { /*Aqui ajustamos un contenedor que tenga la imagen de lebron. el nombre lebron y su texto*/
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15.875rem;
        justify-content: space-between;
        width: 28.375rem;
    }
    
    #img_text_box_navarro img{ /*Aqui solo afectamos la pura imagen de lebron*/
        position: relative;
        top: 2rem;
        
    }
    
    #box_navarro { /*Aqui creamos otra caja la cual solo contenga el nombre de lebron y su texto*/
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 13.68875rem;
        padding-top: 2rem;
        justify-content: space-evenly;
        width: 27.8125rem;
        color: #B9B9C1;
    }
    
    #bestotm_box_navarro button{ /*Aqui ajustamos el boton de more que esta en otm*/
        width: 8.375rem;
        height: 2.75rem;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: #8B48BF;
    }
    
    #two_blue_box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #8B48BF;
        width: 90rem;
        height: 14rem;
    }

    #br_telephon {
        display: none;
    }

    #two_blue_box p {
        width: 26rem;
        height: 6rem;
    }

    #two_blue_box button {
        background-color: white;
        color: #8B48BF;
    }

    footer {
        display: flex;
        width: 89.9375rem;
        height: 15.4375rem;
    }

    .logo_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        right: 33rem;
        bottom: 9rem;
    }

    #icons_box {
        display: flex;
        justify-content: center;
        position: relative;
        right: 33rem;
        bottom: 2rem;
    }
    #icons_box img{
        margin: 0.5rem;
    }

    #caja_busqueda {
        position: relative;
        left: 28rem;
        top: 3rem;
    }

    #copyright {
        position: relative;
        left: 27rem;
        bottom: 3rem;
    }
}